body{
    background-image: url('IMG_4535.jpg') ;
    background-size:auto 100%;
   
    height: 100vh;
}
.bg-moving{
    animation: bgAnim 5000s ;
}
@keyframes bgAnim {
    0%{
        background-position: 210px;
    }
    100%{
        background-position: -2500000px;
    }
}

@font-face {
    font-family: 'Lora', serif;
    src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
}

html {
    width: 100%;
    height: 100%;
    background: "hfoto.jpg"
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 .btn btn-outline-light {
     color: brown;

    }

    .car {
        left: 9%;
        top: 50%;
       position: absolute;
        
    }