
@font-face {
    font-family: 'Press Start 2P', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
}

html {
    width: 100%;
    height: 100%;
    background: "hfoto.jpg"
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}